@import "tailwindcss";

:root {
  --bg-color: #EBE4DE;
  --text-color: #744010;
  --accent-color: #CD9BA7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Georgia, sans-serif;
}